.cards__list {
    margin: unset;
    padding: unset;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.elements__card_yosemite {
    /* background: url('../images/yosemite-valley.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

}

.elements__card_lake-louise {
    /* background: url('../images/lake-louise.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;  */
}

.elements__card_bald-mountains {
    /* background: url('../images/bald-mountains.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;  */
}

.elements__card_latemar {
    /* background: url('../images/latemar.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;  */
}

.elements__card_vanoise-national-park {
    /* background: url('../images/vanoise-national-park.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;  */
}

.elements__card_lago-de-braies {
    /* background: url('../images/lago-di-braies.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;  */
}