@font-face {
    font-family: 'Inter-Black';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.19") format("woff2"),
         url("Inter-Black.woff?v=3.19") format("woff");
}

.card {
    height: 381px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
}

.card__space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFF;
}

.card__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* object-fit: */
}

.card__heart-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.card__content {
    width: 246px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Inter-Black', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
}

.card__header {
    display: inline-block;
    margin: unset;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.card__caption {
    display: inline-block;
    margin: unset;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-family: 'Inter-Black', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
}
