.footer__author {
    margin: 0 auto;
    color: #545454;
    margin-top: 67px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.2;
}

@media screen and (max-width: 375px) {
    .footer__author {
        font-size: 14px;
    }
}