.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
}

.header__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header__content::after {
    content:'';
    width: 100%;
    opacity: 70%;
    height: 2px;
    background-color: #545454;
    margin-bottom: 36.25px; 
}

@media screen and (max-width: 1279px) {
    .header__content::after {
        margin-bottom: 38.25px;     
    }
}

@media screen and (max-width: 580px) {
    .header__content {
        width: 282px;
    }

    .header__logo {
        margin-left: 8px;
    }
}

@media screen and (min-width: 581px) and (max-width: 879px) {
    .header__content {
        width: calc((282px * 2) + 17px);
    }
}


.header__logo {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-bottom: 41px;
}

@media screen and (max-width: 375px) {
    .header__logo {
        width: 126px;
        height: 24px;
        padding-bottom: 0;
        margin-bottom: 32px;
    }

    .header__content::after {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

@media screen and (min-width: 581px) and (max-width: 879px) {
    .header__content::after {
        width: calc(282px * 2);
    }
}
