.modal {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    align-items: center;
    justify-items: center;
}

.modal__container{
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    height: 330px;
}

.modal__header {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    width: 358px;
    margin-left: 34px;
    margin-right: 34px;
}

.modal__close {
    padding: unset;
    border: none;
    outline: inherit;
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    background-image: url("../images/close_icon.svg");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    top: -40px;
    right: -430px;
}

.modal__close:hover {
    cursor: pointer;
    opacity: 60%;
}

.modal_opened {
    display: grid;
}

@media screen and (max-width: 879px) {
    .modal__container {
        height: 322px;
        width: 282px;
    }
    
    .modal__close {
        width: 26px;
        height: 26px;
        top: -30px;
        right: calc(-282px + 25px);
    }
    .modal__header {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;
    }
}

@media screen and (max-width: 375px) {
    .modal__header {    
        font-size: 18px;
    }
}
