.modal {
    position: fixed;
    top: 0px;
    height: 720px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    justify-content: center;
    align-content: center;
}

.modal__content {
    height: 330px;
    /* height: fit-content; */
    width: 430px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
}

.modal__form {
    height: 100%;
}

.modal__header {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    width: 330px;
    margin-left: 34px;
    margin-right: 64px;
    /* margin-top: 34px; */
}

.modal__close {
    padding: unset;
    border: none;
    outline: inherit;
    background-image: url("../images/close_icon.svg");
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-size: contain;
    top: -40px;
    right: -430px;
}

.modal__close:hover {
    cursor: pointer;
    opacity: 60%;
}

.modal_opened {
    display: grid;
}

@media screen and (max-width: 879px) {
    .modal__content {
        width: 282px;
    }
    .modal__close {
        width: 26px;
        height: 26px;
        top: -30px;
        right: calc(-282px + 18px);
    }
    .modal__header {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 375px) {
    .modal__header {
        font-size: 18px;
    }
}
