.modal {
    z-index: 1;
    /* position: fixed;
    top: 0px; */
    height: 720px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    
}

.modal__container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.modal__form {
    height: 100%;
}

.modal__header {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    width: 330px;
    margin-left: 34px;
    margin-right: 64px;
    /* margin-top: 34px; */
}

.modal__close {
    padding: unset;
    border: none;
    outline: inherit;
    position: relative;
    height: 40px;
    width: 40px;
    background-image: url("../images/close_icon.svg");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    top: -40px;
    right: -430px;
}

.modal__close:hover {
    cursor: pointer;
    opacity: 60%;
}

.modal_opened {
    display: block;
}

@media screen and (max-width: 879px) {
    .modal__container {
        width: 282px;
        /* top: 100px;
        left: 19px; */
    }
    .modal__close {
        width: 26px;
        height: 26px;
        top: -30px;
        right: calc(-282px + 18px);
    }
    .modal__header {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 375px) {
    .modal__header {
        font-size: 18px;
    }
}
