@font-face {
    font-family: 'Inter-Medium';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff2?v=3.19") format("woff2"),
         url("Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter-Black';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.19") format("woff2"),
         url("Inter-Black.woff?v=3.19") format("woff");
}

.profile {
    padding-bottom: 47.25px;
}

.profile__content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.profile__image {
    width: 100px;
    border-radius: 50% 50%;
    margin-right: 35px;
}

.profile__button {
    width: 150px;
    height: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #FFF;
    border-radius: 2px;
}

.profile__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.profile__name-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: auto;
}

.profile__name {
    margin: unset;
    padding: unset;
    font-family: 'Inter-Medium', Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
    color: #FFF;
}

.profile__edit {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 24px;
    width: 24px;
    border: 1px solid #FFF;
    padding: 5px;
}

.profile__edit:hover {
    opacity: 0.8;
    cursor: pointer;    
}

.profile__title {
    margin: unset;
    padding: unset;
    font-family: 'Inter-Black', Arial, sans-serif;;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFF;
}

@media screen and (max-width: 1279px) {
    .profile__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }

    .profile__name-title {
        margin: 0 auto;
    }

    .profile__image {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .profile__title {
        margin-top: 14px;
        margin-bottom: 36px;
    }
}

@media (min-width: 320px) and (max-width:767px) {
    .profile__name {
        font-size: 22px;
    }
    .profile__title {
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: 36px;
    }
}
